/* --- 1. Main Page Layout --- */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    display: flex;
    margin: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.0em;
}

p {
    font-size: 1.3em;
}

p.i {
  font-style: italic;
}

p.s {
  font-size: 1.1em;
}

.menu-container {
    width: 200px;
    flex-shrink: 0;
    background-color: #ffffff;
    padding: 0px; 
    box-sizing: border-box; 
}

/*main content area */
.content-container-about {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
}


.content-container {
    flex: 1;
}






.contact {
  background-image: url(/pages/about/SWIM_DavidDale.jpg);
  min-width: 100%;
  display:grid;
  grid-template-columns: 1fr 8fr 30fr;
}

.contact-text {
  font-size: 1.2rem;
  grid-column: 2/3;
  padding: 3rem;
  background-color: #00065e;
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.contact-text a {
  color: rgb(255, 255, 255);
}



#domtitles {
  grid-row: span 1; 
  grid-column: span 3;
  justify-self:start;
  align-self:start;
  margin-left:50px;
  z-index: 1;
  width: 350px;
}

#spivak-rub {   
  grid-row: span 2; 
  grid-column: span 3;
  justify-self:center;
  align-self:center;
  margin-top:100px;
  margin-left:50px;
  z-index: 1;
  width: 500px; 
}

#swivel-knot {   
  grid-row: span 2; 
  grid-column: span 3;
  justify-self:end;
  align-self:start;
  margin-top:30px;
  z-index: 1;
  width: 300px; 
}

#bent-head {   
  grid-row: span 4; 
  grid-column: span 4;
  justify-self:start; 
  align-self:start;
  margin-top:70px;
  margin-left:0px;
  z-index: 1;
  width: 400px; 
}

#how-to-win {   
  grid-row: span 3; 
  grid-column: span 3;
  justify-self:center;
  align-self:center;
  z-index: 1;
  width: 200px;
}

#workers-fingers {   
  grid-row: span 2; 
  grid-column: span 3;
  justify-self:end;
  align-self:end;
  margin: 100px;
  z-index: 1;
  width: 400px;
}

#swim {   
  grid-row: span 3; 
  grid-column: span 3;
  justify-self:start;
  align-self:start;
  margin:100px;
  z-index: 1;
  width: 600px;
}

#we-are-vandals {   
  grid-row: span 3; 
  grid-column: span 3;
  justify-self:center;
  align-self:center;
  z-index: 1;
  width: 450px;
}

#gut-house {  
  grid-row: span 3; 
  grid-column: span 3; 
  justify-self:end;
  align-self:end;
  z-index: 1;
  width: 350px;
   margin:100px;

}

#sonic-gut-meditations {   
  grid-row: span 3; 
  grid-column: span 3;
  justify-self:center;
  align-self:center;
  margin-left: 50px;
  z-index: 1;
  width: 350px;
}

#meatmouth {   
  grid-row: span 3; 
  grid-column: span 4;
  justify-self:start;
  align-self:center;
  z-index: 1;
  width: 350px;
}

#paperwork-iilwimi-lipsing {   
  grid-row: span 3; 
  grid-column: span 3;
  justify-self:center;
  align-self:center;
  z-index: 1;
  width: 250px;
  margin:50px;
}

#a-scene-with-human-furniture { 
  grid-row: span 3; 
  grid-column: span 3;  
  justify-self:center;
  align-self:center;
  margin:200px;
  z-index: 1;
  width: 600px;
}

#rope-umkhando-and-the-tongue { 
  grid-row: span 2; 
  grid-column: span 3;  
  justify-self:center;
  align-self:center;
  z-index: 1;
  width: 400px;
  margin:100px;
}

#a-scene-with-human-furniture { 
  grid-row: span 3; 
  grid-column: span 3;  
  justify-self:center;
  align-self:center;
  margin-top:0px;
  z-index: 1;
  width: 500px;
}

#scripts-for-page-and-performer { 
  grid-row: span 3; 
  grid-column: span 3;  
  justify-self:center;
  align-self:center;
  margin:0px;
  z-index: 1;
  width: 500px;
}

#this-machine { 
  grid-row: span 2; 
  grid-column: span 4;  
  justify-self:center;
  align-self:center;
  z-index: 1;
  width: 300px;
  margin:100px;
}






.image-link {
  color: white;
  display: inline-block;
  width: 500px;
}

.image-container {
  position:relative;
}

.image-container img {
  display:block;
  width: 100%;
  height: auto;
}

.image-text-overlay {
  position: absolute;
  top: 0;       
  left: 0;            
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  text-align: center;

  background: rgba(0, 0, 0, 0.5);
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.image-container:hover .image-text-overlay {
  opacity: 1;
}


/* --- 2. Accordion Menu Styling --- */

.accordion-details {
  margin-top: 10px;
  padding-left: 10px;
}

.accordion-summary {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    margin: 0; 
    margin-bottom: 10px; 
    width: 100%;
    text-align: left;
    font-size: 1.7em;
    list-style: none;
}

.accordion-summary:hover {
  background-color: #97cbff;
}

.accordion-content {
  padding: 0px 0px;
}

.accordion-content a {
  display: block;
  padding: 0px;
  font-size: 1.2em;
  color: #000000;
  text-decoration: none;
}

.accordion-content a:hover {
    background-color: #a1d0ff;
}











/* --- 3. Responsive Styles for Mobile --- */
/* This block of code will only run on screens 768px or smaller */

@media (max-width: 768px) {

  /* Change the body's flex direction to stack items vertically */
  body {
    flex-direction: column;
  }

  /* Make the menu container take the full width and a natural height */
  .menu-container {
    width: 100%;       /* Occupy the full screen width */
    height: auto;        /* Let height be determined by its content */
    border-right: none;  /* Remove the border since it's no longer a sidebar */
    border-bottom: 1px solid #dee2e6; /* Add a bottom border instead */
    box-sizing: border-box; /* Ensures padding is included in the width */
  }

  /* Adjust padding for the content area on smaller screens */
  .content-container {
    padding: 10px;
  }
}




