/* --- 1. Main Page Layout --- */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    display: flex;
    margin: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
/* 
img {
  width: 100%;
  height: auto;
  display: block;
} */

a {
    text-decoration: none;
}

h1 {
    font-size: 2.0em;
}

p {
    font-size: 1.3em;
}

p.i {
  font-style: italic;
}

p.s {
  font-size: 1.1em;
}

.menu-container {
    width: 200px;
    flex-shrink: 0;
    background-color: #ffffff;
    padding: 0px; 
    box-sizing: border-box; 
}

/*main content area */
.content-container-about {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
}

/* 
.content-container {
    flex: 1;
} */

.content-container {
    display:flex;
    flex-direction: column;
    width:100%;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding: 2rem;
    font-size: 1.2rem;
}

.contact {
  background-image: url(/pages/about/SWIM_DavidDale.jpg);
  min-width: 100%;
  display:grid;
  grid-template-columns: 1fr 8fr 30fr;
}

.contact-text {
  font-size: 1.2rem;
  grid-column: 2/3;
  padding: 3rem;
  background-color: #00065e;
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.contact-text a {
  color: rgb(255, 255, 255);
}



#domtitles {
  top: 20px;
  left: 380px;
  z-index: 1;
  width: 390px;
}

#spivak-rub {   
  top: 300px;
  left: 200px;
  z-index: 1;
  width: 500px; 
}

#swivel-knot {   
top: 200px;
  left: 800px;
  z-index: 1;
  width: 300px; 
}

#bent-head {   
  top: 100px;
  left: 1150px;
  z-index: 1;
  width: 400px; 
}

#how-to-win {   
  top: 700px;
  left: 200px;
  z-index: 1;
  width: 200px;
}

#workers-fingers {   
top: 700px;
  left: 500px;
  z-index: 1;
  width: 400px;
}

#swim {   
top: 630px;
  left: 1000px;
  z-index: 1;
  width: 600px;
}

#we-are-vandals {   
top: 1060px;
  left: 350px;
  z-index: 1;
  width: 450px;
}

#gut-house {  
top: 1150px;
  left: 860px;
  z-index: 1;
  width: 400px;

}

#sonic-gut-meditations {   
  top: 1200px;
  left: 1300px;
  z-index: 1;
  width: 350px;
}

#meatmouth {   
  top: 1430px;
  left: 950px;
  z-index: 1;
  width: 350px;
}

#paperwork-iilwimi-lipsing {   
top: 1700px;
  left: 850px;
  z-index: 1;
  width: 250px;
}

#a-scene-with-human-furniture { 
  top: 1600px;
  left: 800px;
  z-index: 1;
  width: 250px;
}

#rope-umkhando-and-the-tongue { 
top: 1950px;
  left: 250px;
  z-index: 1;
  width: 400px;
}

#a-scene-with-human-furniture { 
top: 1600px;
  left: 200px;
  z-index: 1;
  width: 500px;
}

#scripts-for-page-and-performer { 
top: 2200px;
  left: 800px;
  z-index: 1;
  width: 500px;
}

#this-machine { 
top: 2200px;
  left: 450px;
  z-index: 1;
  width: 300px;
}






.image-link {
  color: white;
  display: inline-block;
  width: 500px;
  position: absolute;
}

.image-container {
  position:relative;
}

.image-container img {
  display:block;
  width: 100%;
  height: auto;
}

.image-text-overlay {
  position: absolute;
  top: 0;       
  left: 0;            
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  text-align: center;

  background: rgba(0, 0, 0, 0.5);
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.image-container:hover .image-text-overlay {
  opacity: 1;
}


/* --- 2. Accordion Menu Styling --- */

.accordion-details {
  margin-top: 10px;
  padding-left: 10px;
}

.accordion-summary {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    margin: 0; 
    margin-bottom: 10px; 
    width: 100%;
    text-align: left;
    font-size: 1.7em;
    list-style: none;
}

.accordion-summary:hover {
  background-color: #97cbff;
}

.accordion-content {
  padding: 0px 0px;
}

.accordion-content a {
  display: block;
  padding: 0px;
  font-size: 1.2em;
  color: #000000;
  text-decoration: none;
}

.accordion-content a:hover {
    background-color: #a1d0ff;
}




@media (min-width:1100px) and (max-width: 1500px) {

  #domtitles {
    top: 10px;
    left: 280px;
    z-index: 1;
    width: 390px;
  }

  #spivak-rub {   
    top: 300px;
    left: 200px;
    z-index: 1;
    width: 500px; 
  }

  #swivel-knot {   
  top: 150px;
    left: 710px;
    z-index: 1;
    width: 300px; 
  }

  #bent-head {   
    top: 710px;
    left: 220px;
    z-index: 1;
    width: 400px; 
  }

  #how-to-win {   
    top: 1130px;
    left: 200px;
    z-index: 1;
    width: 200px;
  }

  #workers-fingers {   
  top: 680px;
    left: 640px;
    z-index: 1;
    width: 400px;
  }

  #swim {   
  top: 980px;
    left: 650px;
    z-index: 1;
    width: 600px;
  }

  #we-are-vandals {   
  top: 1460px;
    left: 250px;
    z-index: 1;
    width: 450px;
  }

  #gut-house {  
  top: 1400px;
    left: 740px;
    z-index: 1;
    width: 400px;

  }

  #sonic-gut-meditations {   
    top: 2000px;
    left: 750px;
    z-index: 1;
    width: 350px;
  }

  #meatmouth {   
    top: 1730px;
    left: 830px;
    z-index: 1;
    width: 350px;
  }

  #paperwork-iilwimi-lipsing {   
  top: 2280px;
    left: 290px;
    z-index: 1;
    width: 250px;
  }

  #a-scene-with-human-furniture { 
  top: 1900px;
    left: 200px;
    z-index: 1;
    width: 500px;
  }

  #rope-umkhando-and-the-tongue { 
  top: 2650px;
    left: 210px;
    z-index: 1;
    width: 400px;
  }

  #scripts-for-page-and-performer { 
  top: 3200px;
    left: 700px;
    z-index: 1;
    width: 500px;
  }

  #this-machine { 
  top: 2900px;
    left: 300px;
    z-index: 1;
    width: 300px;
  }
 
}


@media (min-width:769px) and (max-width: 1099px) {

  #domtitles {
    top: 10px;
    left: 280px;
    z-index: 1;
    width: 390px;
  }

  #spivak-rub {   
    top: 260px;
    left: 200px;
    z-index: 1;
    width: 500px; 
  }

  #swivel-knot {   
  top: 650px;
    left: 210px;
    z-index: 1;
    width: 300px; 
  }

  #bent-head {   
    top: 1100px;
    left: 260px;
    z-index: 1;
    width: 400px; 
  }

  #how-to-win {   
    top: 1500px;
    left: 400px;
    z-index: 1;
    width: 200px;
  }

  #workers-fingers {   
  top: 1850px;
    left: 240px;
    z-index: 1;
    width: 400px;
  }

  #swim {   
  top: 2200px;
    left: 200px;
    z-index: 1;
    width: 600px;
  }

  #we-are-vandals {   
  top: 2650px;
    left: 250px;
    z-index: 1;
    width: 450px;
  }

  #gut-house {  
  top: 3000px;
    left: 240px;
    z-index: 1;
    width: 400px;

  }

  #sonic-gut-meditations {   
    top: 3300px;
    left: 250px;
    z-index: 1;
    width: 350px;
  }

  #meatmouth {   
    top: 4500px;
    left: 280px;
    z-index: 1;
    width: 350px;
  }

  #paperwork-iilwimi-lipsing {   
  top: 4720px;
    left: 330px;
    z-index: 1;
    width: 250px;
  }

  #a-scene-with-human-furniture { 
  top: 5100px;
    left: 200px;
    z-index: 1;
    width: 500px;
  }

  #rope-umkhando-and-the-tongue { 
  top: 5460px;
    left: 240px;
    z-index: 1;
    width: 400px;
  }

  #scripts-for-page-and-performer { 
  top: 5940px;
    left: 200px;
    z-index: 1;
    width: 500px;
  }

  #this-machine { 
  top: 5720px;
    left: 280px;
    z-index: 1;
    width: 300px;
  }
 
}



@media (max-width: 768px) {

  /* Change the body's flex direction to stack items vertically */
  body {
    flex-direction: column;
  }



  .content-container-about {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
  } 

  /* Make the menu container take the full width and a natural height */
  .menu-container {
    width: 100%;       /* Occupy the full screen width */
    height: auto;        /* Let height be determined by its content */
    border-right: none;  /* Remove the border since it's no longer a sidebar */
    border-bottom: 1px solid #dee2e6; /* Add a bottom border instead */
    box-sizing: border-box; /* Ensures padding is included in the width */
    font-size: 1.7rem;
  }

  /* Adjust padding for the content area on smaller screens */
  .content-container {
    padding: 10px;
  }

.image-link {
  color: white;
  display: inline-block;
  width: 500px;
  position: relative;
}

    #domtitles {
    top: 10px;
    left: 80px;
    width: 390px;
  }

  #spivak-rub {   
    top: 60px;
    left: 0px;
    width: 500px; 
  }

  #swivel-knot {   
  top: 90px;
    left: 10px;

    width: 300px; 
  }

  #bent-head {   
    top: 100px;
    left: 60px;
    width: 400px; 
  }

  #how-to-win {   
    top: 150px;
    left: 100px;
    width: 200px;
  }

  #workers-fingers {   
  top: 150px;
    left: 40px;
    width: 400px;
  }

  #swim {   
  top: 200px;
    left: 0px;
    width: 600px;
  }

  #we-are-vandals {   
  top: 250px;
    left: 50px;
    width: 450px;
  }

  #gut-house {  
    top: 300px;
    left: 80px;
    width: 400px;

  }

  #sonic-gut-meditations {   
    top: 380px;
    left: 80px;
    width: 350px;
  }

  #meatmouth {   
    top: 450px;
    left: 120px;
    width: 350px;
  }

  #paperwork-iilwimi-lipsing {   
    top: 520px;
    left: 230px;
    width: 250px;
  }

  #a-scene-with-human-furniture { 
    top: 550px;
    left: 50px;
    width: 500px;
  }

  #rope-umkhando-and-the-tongue { 
    top: 620px;
    left: 100px;
    width: 400px;
  }

  #scripts-for-page-and-performer { 
    top: 750px;
    left: 60px;
    width: 500px;
  }

  #this-machine { 
  top: 820px;
    left: 200px;
    width: 300px;
  }
}




